@font-face {
  font-family: TASA Explorer;
  src: url('./assets/fonts/TASAExplorer-Regular.ttf');
}

body {
  font-family: 'TASA Explorer', sans-serif;
  background-color: #caa478;
  color: #333;
}

#newNoteDiv {
  display: flex;
  justify-content: center;
}

#createdNotes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

#tasker {
  display: flex;
  justify-content: center;
}
